@use 'variables' as var;

#header {
    color: var.$dark-lavender;
    display: flex;
    font: var.$header-font;
    justify-content: space-between;
    gap: 3px;
    padding: 0 1rem;

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}