$dark-blue: #19344b;
$dark-green: #679186;
$light-green: #bbd4ce;
$dark-lavender: #63517e;
$ligh-beige: #fdebd3;

$text-font: 1em 'Wix Madefor Display', sans-serif;
$header-font: 2.5em 'Wix Madefor Display';
