.votingpage {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .voting-div {
    border: 1px solid black;
    text-align: center;

    .voting-header {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 5px;
      margin: 1rem;
      padding: 1rem;
    }
    
    .voting-card-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        .voting-card-div {
            border: solid 1px grey;
            margin: 1em;
        }
    }
    
  }
}
.todo-div, .done-div {
  background-color: lightgray;
  width: 30%;
  height: 100vh;
}

.todo-list, .done-tasks {
  padding: 1rem;

  tr {
    display: block;
    margin-top: 1em;
    border-bottom: solid 1px grey;

    td {
      display: flex;
      flex-direction: column;
      margin-top: 0.5em;
    }
    td:first-child {
      font-weight: bold;
    }
  }
}

.voting {
  &-card {
    &-div {
      background-color: gray;
    }
  }
}
